
/* Fichier de style perso index	*/

/*		Font		*/
@font-face {
	font-family: "PriceDown";
	src: url("../font/PriceDown.otf") format("opentype");
}
@font-face {
	font-family: "Nasalization";
	src: url("../font/Nasalization.otf") format("opentype");
}

/* */
.start_text {
	display: block;
	position: absolute;
	font-family: PriceDown;
	-webkit-text-stroke: 2px black;
	font-family: PriceDown, sans-serif;
	font-size: 3rem;
}
.end_text {
	display: block;
	position: absolute;
	top: 65%;
	-webkit-text-stroke: 2px black;
	font-family: PriceDown, sans-serif;
	font-size: 3rem;
}	
.container button {
	position: relative;
	top: 85%;
	left: -650px;
	background: none;
	font-family: fantasy;
	font-size: 2rem;
	letter-spacing: 3px;
	color: white;
	width: auto;
	height: auto;
	border: 1px solid white;
	box-shadow: 0 0 10px white;
	border-radius: 10px;
	cursor: pointer;
	transition: background 0.5s ease-out 0s, color 0.5s ease-out 0s, border 0.5s ease-out 0s, box-shadow 0.5s ease-out 0s;
}
.container button:hover {
	background: white;
	color: black;
	border: 1px solid black;
	box-shadow: 0 0 30px white;
}


#pointer_product {
	position: absolute;
	top: -10%;
}
.container{
	position: relative;
	background: rgb(131,58,180);
	background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(252,176,69,1) 100%);
	text-align: left;
    display: flex;
    justify-content: space-evenly;
	color: white;
	top: 21%;
	width: 80%;
	height: 80vh;
	margin: auto;
	border-radius: 20px;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
#img_1 {
	background: url(../media/site_uqam.jpg) fixed no-repeat;
	background-size: cover;
	object-fit: contain;
}
#img_2 {
	background: url(../media/site_c2.jpg) fixed no-repeat;
	background-size: cover;
	object-fit: contain;
}
#img_3 {
	background: url(../media/site_mtl.jpg) fixed no-repeat;
	background-size: cover;
	object-fit: contain;
}
.container .card{
    position: relative;
    cursor: pointer;
    cursor: default;
    top: 17%;
    height: 150px;
    text-align: center;
    font-family: Nasalization;
    font-size: 1.3rem;
    margin-left: 70px;
    z-index: 99999;
}

.container .card .face{
    width: 300px;
    height: 200px;
    transition: 0.5s;
}

.container .card .face.face1{
    position: relative;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
}

.container .card:hover .face.face1{
    background: #ff0057;
    transform: translateY(0);
}

.container .card .face.face1 .content1{
    opacity: 0.2;
    transition: 0.5s;
}

.container .card:hover .face.face1 .content1{
    opacity: 1;
}

.container .card .face.face1 .content1 img{
    max-width: 100px;
}

.container .card .face.face1 .content1 h3{
    margin: 10px 0 0;
    padding: 0;
    color: #fff;
    text-align: center;
    font-size: 1.5em;
}

.container .card .face.face2{
    position: relative;
    background: linear-gradient(90deg, rgba(253,65,110,1) 0%, rgba(255,252,82,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
    transform: translateY(-100px);
}

.container .card:hover .face.face2{
    transform: translateY(0);
}

.container .card .face.face2 .content1 p{
	color: black;
    margin: 0;
    padding: 0;
}

.container .card .face.face2 .content1 a{
    margin: auto;
    position: relative;
    top: 10px;
    text-align: center;
    width: 50%;
    display:  block;
    text-decoration: none;
    font-weight: 900;
    color: black;
    padding: 5px;
    border: 1px solid #333;
    border-radius: 4px;
}

.container .card .face.face2 .content1 a:hover{
    background: #333;
    color: #fff;
}